<div class="user-details">
  <h1> Featured Demos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/obj.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Object Detection for normal scenes </h3>
    <ul>
      <li> Detect objects in everyday life </li>
    </ul>
    <p> This model uses a Faster RCNN trained on 37 classes using the PASCAL VOC 2012 dataset. It can detect objects like cars, buses, people, traffic signs, plants etc. The user need to upload an image on the portal in order to get bounding boxes around the objects which the model has identified. To take a look at themodel, click the link below. </p>
    <a class="project-link" href="http://117.240.224.12/cen-object-detection/">Check out Demo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ae.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Vehicle Detection in Aerial Images</li>
    </ul>
    <p>Vehicle detector model for aerial images is an F-RCNN trained on VEDAI aerial image dataset. The model can detect and and classify vehicles from aerial images in very challenging conditions and was used to prove the Faster-RCNN's small target detection capability.</p>
    <a class="project-link" href="http://117.240.224.12/cen-object-detection/">Check out Demo</a>
  </div>
</div>
